{% extends 'libapp/base.html' %}
{% load static %}

{% block content %}


<div style= "overflow:hidden; height: calc(100vh - 60px); flex: 1; display: flex; align-items: center; justify-content: center; text-align: center; font-size: xx-large; ">
    <div class="container">
        <img src="{% static '/images/DELPA.png' %}" style="display: block; max-width: 200px; margin-left: auto; margin-right: auto;">
    <p style="max-width: 500px; margin-left: auto; margin-right: auto; word-spacing: 10%;"> <strong>Welcome to Del Pilar's Library Management System! </strong> </p>
    </div>
    
</div>


{% endblock %}